@import "tailwindcss";

@theme {
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--color-stone-100);
  color: var(--color-stone-900);
  font-family: var(--font-sans);
}
